.new{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    
}
.crd{
    width: 400px;
    height: 600px;
}
#imgs{
    object-fit: contain;
}